   .test1 {
    background-image: radial-gradient(
      circle,
      #DE3874,
      #E54B81,
      #EB5C8D,
      #F16B9A,
      #F77AA6,
      #F88BB9,
      #F99CCA,
      #F9ADD9,
      #F4C4EB,
      #F2D9F7,
      #F5EDFE,
      #FFFFFF
    );
  }
  .test2 {
    background-image: radial-gradient(
      circle,
      #E1C009,
      #FFB579,
      #FFC4CF,
      #FFE4FF,
      #FFFFFF
    );
  }
  .test3 {
    background-image: radial-gradient(
      circle,
      #19E3DE,
      #1EE6E1,
      #23EAE5,
      #27EDE8,
      #2BF1EC,
      #4EF3F3,
      #67F5FA,
      #7DF7FF,
      #A9F7FF,
      #D3F7FF,
      #F1F9FF,
      #FFFFFF
    );
  }
  .test4 {
    background-image: radial-gradient(
      circle,
      #B458FF,
      #BF89FF,
      #CFB2FF,
      #E5D9FF,
      #FFFFFF
    );
  }
  
  .test5 {
    background-image: radial-gradient(
      circle,
      #DE3874,
      #E54B81,
      #EB5C8D,
      #F16B9A,
      #F77AA6,
      #F88BB9,
      #F99CCA,
      #F9ADD9,
      #F4C4EB,
      #F2D9F7,
      #F5EDFE,
      #FFFFFF
    );
  }